{
 ; this file is read by de.otto.tesla

 :explore-file-directories
 {:gorilla-unittest "./notebooks"
  :gorilla-examples "../sample-notebooks/notebooks"
  :backtest "/home/andreas/Documents/quant/backtest/gorilla"
  :fundamental "/home/andreas/Documents/quant/clojureQuant/gorilla"
  }
 }
