{
 ;; TODO : Legacy around move this stuff else - or remove it
 ; this file is read by de.otto.tesla
 :status-url "/status"
 :health-url "/health"
 ;; TODO: The following ends up (get-in @db [:config]). CANNOT be nested in settings bc the latter is backed by local-storage
 :settings   {; TODO ClojureScript kernel settings may interfere with the build chosen
              :cljs {:path         "http://localhost:2705/out/gorilla" ; base url of dependency server / bundle that gets loaded
                     ; namespaces that will get loaded into the cljs kernel via our dependency server
                     :load-on-init #{fortune.core
                                     awb99.shapes.core
                                     quil.core
                                     quil.middleware
                                     ;quil.sketch
                                     ;quil.util
                                     reagent.core
                                     pinkgorilla.shadow
                                     module$node_modules$moment$moment   ; namespace convention of shadow-cljs for npm modules
                                     ajax.core ; http requests
                                     pinkgorilla.ui.leaflet
                                     pinkgorilla.ui.player ; video player
                                     pinkgorilla.ui.sparklines ; sparkline charts
                                     }}
              :dev-aids          true
              :explore-file-directories
                                 {:gorilla-unittest "./notebooks"}
              :load-scan-exclude #{".git" ".svn"}}
 ; metering
 ;; :metering-reporter        "console"
 ;; :console-interval-seconds "100"

 ; activate graphite like this:
 ;:metering-reporter "graphite"
 ;:graphite-host "localhost"
 ;:graphite-port "2003"
 ;:graphite-prefix "my-app-prefix"
 ;:graphite-interval-seconds "60"

 ;: :gorilla-repl-app-name "gorilla-repl"
 ;: :gorilla-repl-credentials-json  "....json"
 ;: :gorilla-repl-max.results 3

 ;; :server-port              "9090"
 ;; :middleware ""
 :routes     "gorilla-repl.route/default-handler"
 ; use this if you need a grace-time during which
 ; the system reports unhealthy before shutting down.
 ;:wait-ms-on-stop "10000"

 :nrepl-port 7888
 :nrepl-host "localhost"

 ;; Stuff as in leinigen project.clj
 ;; :project
 #_{
    #_:gorilla-options #_{:keymap            {"command:worksheet:newBelow" "ctrl+b ctrl+t"
                                              "command:worksheet:newAbove" "ctrl+b ctrl+q"}
                          :load-scan-exclude #{".git" ".svn"}}}
 }
